body {
    font-family: Calibri;
    height: 100vh;
    width: 100vw;
}

.TitleClass {
    margin: 0 0 6rem 0;
    text-align: center;
}

#NameId {
    font-weight: bold;
    font-size: 2rem;
    color:#31087B;
}

.SvgClass {
    text-align: center;
    margin: 0 0 0 0px;
}

.xlabel {
    fill:#aaa;
    font-size: 5pt;
    opacity: 0.7;
    text-anchor: start;
}

.ylabel {
    fill: #aaa;
    font-size: 6pt;
    opacity: 0.7;
    text-anchor: start;
}

.bar {
    fill:#1e99e7;
    opacity: 0.7;
    font-size:24pt;
    font-weight:bold;
    font-family: Calibri;
}

.map {
    transform:translate(48.37589287833009px,177.59687801295678px) scale(0.9226044650925118);
}

.line {
    stroke: #aaa;
}

.headingName{
    font-weight: bold;
    font-size: 1.2rem;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.bounding-box rect {
    fill: none;
    stroke: #333;
    stroke-dasharray: 2,1;
}

.centroid {
    display: none;
}

.centroid circle {
    fill: red;
}

.ctext{
    font-weight: bold;
    font-size: 2rem;
}

#ex1Slider .slider-selection {
    background: #BABABA;
}

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #e5e5e5;*/
/*}*/

/*.middle {*/
/*    position: relative;*/
/*    width: 50%;*/
/*    max-width: 500px;*/
/*}*/

.slider {
    position: relative;
    z-index: 1;
    height: 10px;
    margin: 0 15px;
}
.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #c6aee7;
}
.slider > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #6200ee;
}
.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: #6200ee;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98,0,238,.1);
    transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
    left: 25%;
    transform: translate(-15px, -10px);
}
.slider > .thumb.right {
    right: 25%;
    transform: translate(15px, -10px);
}
.slider > .thumb.hover {
    box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
    box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    -webkit-appearance: none;
}


.youtube-link {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
}


body {
    background: #000524;
}

#wrapper {
    position: relative;
    background: #000524;
    border: 1px solid #000;
    box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
    max-width: 850px;
    margin: 0 auto;
}

#chart-bar {
    position: relative;
    margin-top: -38px;
}

.link {
    position: absolute;
    bottom: 7px;
    right: 13px;
    z-index: 10;
    color: #ccc;
    font-size: 12px;
    text-decoration: none;
    font-family: Helvetica, Arial;
}

